{% extends 'todo/base.html' %}

{% block content %}
{% if todos %}
<table class="table table-dark my-2">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">description</th>
        <th scope="col">Completed</th>
        <th scope="col">Edit Todo</th>
      </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
      <tr>
            <td> {% if todo.important%}  <span style="color:#FCE762;"> {% endif %}
                {{ todo.title }}
                {% if todo.important%}  </span> {% endif %}
            </td>
            <td>{{ todo.memo|truncatewords:7 }}</td>
            <td>{{ todo.date_completed|date:'M j Y H:i' }}</td>
            <td> 
                <a href="{% url 'viewtodo' todo.id %}">
                    <button class="btn-sm btn-primary">view</button>
                </a>
            </td>
        </tr>
        {% endfor  %}
    </tbody>
  </table>
{% else  %}
<div class="container" style="text-align: center; position:absolute; top:36%;left:10%;">
    <h1> Easily organize and prioritize your tasks and projects so you’ll always know exactly what to work on next. </h1>
    <a href="{% url 'currenttodos' %}">
      <button class="btn-lg btn-primary" >
          <b>Complete your Todos</b>
      </button>
      </a>
</div>
{% endif %}
{% endblock %}